@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom style  */

/* font family  */
@layer base {
    /* apparel display fonts  */
    @font-face {
        font-family: "AppDisBold";
        src: url("../fonts/Apparel-Display-Bold.ttf") format("truetype");
    }
    @font-face {
        font-family: "AppDisBlack";
        src: url("../fonts/Apparel-Display-Black.ttf") format("truetype");
    }
    @font-face {
        font-family: "AppDisRegular";
        src: url("../fonts/Apparel-Display-Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: "AppDisLight";
        src: url("../fonts/Apparel-Display-Light.ttf") format("truetype");
    }
    @font-face {
        font-family: "AppDisThin";
        src: url("../fonts/Apparel-Display-Thin.ttf") format("truetype");
    }
    @font-face {
        font-family: "GilroyBold";
        src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
    }
    @font-face {
        font-family: "GilroyLight";
        src: url("../fonts/Gilroy-Light.ttf") format("truetype");
    }
    @font-face {
        font-family: "GilroyMedium";
        src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
    }
    @font-face {
        font-family: "GilroyRegular";
        src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
    }
}

/* main text section decoration  */
.big-text {
    @apply font-app-reg
    text-7xl 
    xs:text-8xl 
    sm:text-9-2rem
    md:text-10rem md:leading-7rem
    lg:text-14rem lg:leading-9rem
    xl:text-18rem
    2xl:text-21rem
    2xl:leading-17rem
    mxl:text-24.75rem
    mxl:leading-20rem;
}

.mid-text {
    @apply font-app-reg
    text-6xl
    xs:text-5rem xs:leading-5rem
    sm:text-8xl
    md:text-5rem md:leading-6rem
    lg:text-6rem lg:leading-7rem
    xl:text-8.5rem xl:leading-10rem
    2xl:text-10rem 2xl:leading-12rem
    mxl:text-11.5rem;
}

.para {
    @apply font-gil-reg text-sm md:text-base xl:text-17px 2xl:text-lg text-main-dark;
}

.text-40 {
    @apply font-app-reg
    text-main-dark text-3xl
    xl:text-4xl xl:leading-3rem;
}

section {
    /* @apply bg-header-bg; */
}

.btn {
    @apply capitalize
    font-app-reg text-center
    inline-block px-6 py-2.5
    text-main-dark border
    text-sm md:text-base xl:text-17px border-main-dark;
}

.batch {
    @apply mb-2 lg:mb-4 2xl:mb-6 mxl:mb-10;
}


/* i think there background  */
#i-think-there::after {
    
}